<div id="wrapper1">
<div id="wrapper">
<div class="logo">
<center>
<img class="img-responsive" src="http://pullzone.vydiainc.netdna-cdn.com/wp-content/uploads/2014/05/vydialogoWHITE.png">
</center>
<br>
<center>
<h1 style="font-size: 61px; margin-bottom: 15px; font-family: 'Montserrat', arial;">Monetization Meets Discovery</h1>
<div style="max-width: 600px">
<p class="lead" style="font-family: 'Source Sans Pro', 'Arial';">We help artists of all levels monetize and promote their visual content in one easy to use platform.  Join the thousands of artists that have already signed up by clicking below.</p>
</div>
<ul class="logos-wrapper" style="display:block; list-style-type: none;">
                                  <li> <img class="img-responsive" src="http://pullzone.vydiainc.netdna-cdn.com/wp-content/uploads/2014/02/logos1.png"> </li>
                                  <li> <img class="img-responsive" src="http://pullzone.vydiainc.netdna-cdn.com/wp-content/uploads/2014/02/logos2.png"> </li>
                                  <li> <img class="img-responsive" src="http://pullzone.vydiainc.netdna-cdn.com/wp-content/uploads/2014/02/logos3.png"> </li>
                                  <li> <img class="img-responsive" src="http://pullzone.vydiainc.netdna-cdn.com/wp-content/uploads/2014/02/logos4.png"> </li>
                                  <li> <img class="img-responsive" src="http://pullzone.vydiainc.netdna-cdn.com/wp-content/uploads/2014/02/logos5.png"> </li>
                                </ul>
</center>
</div>
<div id="overlay"></div>
<video id="bgvid" autoplay poster="/assets/images/polina.jpg" loop preload="auto">
<source src="video/vydiaheaderreel.mp4" type="video/mp4">
</video>
</div>
</div>

<!--PLAYLIST -->
<!--<script type="text/javascript">
  var index = 1,
      playlist = ['video/tililwayneforweb.mp4', 'video/ajr.mp4', 'video/lilterrioweb2.mp4'],
      video = document.getElementById('bgvid');

  video.addEventListener('ended', rotate_video, false);

  function rotate_video() {
    video.setAttribute('src', playlist[index]);
    video.load();
    index++;
    if (index >= playlist.length) { index = 0; }
  }
</script>-->


