<div id="wrapper">
<video id="bgvid" autoplay poster="/assets/images/polina.jpg" preload="auto">
<source src="video/lilterrioweb2.mp4" type="video/mp4">
</video>

<div id="overlay"></div>
</div>


<script type="text/javascript">
  var index = 1,
      playlist = ['video/tililwayneforweb.mp4', 'video/ajr.mp4', 'video/lilterrioweb2.mp4'],
      video = document.getElementById('bgvid');

  video.addEventListener('ended', rotate_video, false);

  function rotate_video() {
    video.setAttribute('src', playlist[index]);
    video.load();
    index++;
    if (index >= playlist.length) { index = 0; }
  }
</script>


